.project{
	color:#3C6954;
}
.projecttext{
	margin-bottom: 20px;
}
.navigation {
	display: block;
}
.navigation a.active {
        top: 0;
  		/*pointer-events: none;
  		cursor: default;*/
        color:#3C6954;
        text-decoration: underline;
    }

header{
	padding-bottom: 5px;
	margin:10px;
}

nav a { 
	display:inline-block;
	text-align: left;
	color:grey;
	text-decoration: none;
	
	padding: .8em .6em;
}


img {
	max-width: 100%;
}
.selfintro{
	display: block;
	color: #3C6954;
	background-image: none;
}
#mypic{
	display: block;
	width:100%;
	height:auto;
	opacity: 1;
}

#logo{
	float: left;
    width: 75px;
    height: 50px;
}

.left{
	display: block;
	margin:auto 0;
	color: #3C6954;

}
.right{
	display: block;
	width:100%;
	height:auto;
}

/*resume page*/

iframe {
	display: block;
	width:880px; 
	height:1000px;
	border:none;
	margin: 20px auto;
}
a[href^="mailto:"]{
	color:#49bc86;

}
@media screen and (min-width: 600px) {
 .aboutme{
 	display: flex;
 }
 .aboutleft{
 	width: 30%;
	margin-right: 5%;
	margin-left: 5%;
 }
 .aboutright{
 	width:60%;
 }
 #mypic{
	display: block;
	width:60%;
	height:50%;
	opacity: 1;
	}  
.selfintro{
	color: #3C6954;
	}
footer {
	border:none;
	position:relative;
	bottom: 0;
}
}
  
@media screen and (min-width:900px) {

	
.photoproject {
	display: flex;
	}

.left {
	
	width: 50%;
	margin-right: 2%;
	margin-left: 2%;
	}

.right {

	width: 60%;
	
	}
.projectcover{
	display: block;
	width:100%;
	height:auto;
	
	}  

.gallery img{
	display: inline-block;
	width:30%;
	}	
.aboutme{
	display: inline-block;
	position: relative;
	background-image: url("img/me.jpg")
	}
.selfintro{
	position: absolute;    
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: #3C6954;
    z-index: 1;
    font-family: helvetica,arial;
	}

#mypic{
	width:100%;
	height:auto;
	opacity: 0.3;
    filter: alpha(opacity=50); /* For IE8 and earlier */
	}		

footer {
	border:none;
	position:relative;
	bottom: 0;
	}	
}

  
footer {
	border:none;
	position:relative;
	bottom: 0;
}

