body {
	background: #fefefe;

				}

.navigation {
	display: block;
}
/*.navigation a.active {
        top: 0;
  		pointer-events: none;
  		cursor: default;
        color:#289f28;
        background-color: grey;
    }*/



nav a { 
	display:inline-block;
	text-align: left;
	color:grey;
	text-decoration: none;
	
	padding: .8em .6em;
}


img {
	max-width: 100%;
}

#logo{
	float: left;
    width: 75px;
    height: 50px;
}
nav a.active {
	
    background: #289f28;

}
.left h1{
	font-size: 2em;
	font-family: helvetica,arial;
	margin:auto;
	border: 1px solid black;
}
/*#left {
		display: block;
		width: 90%;
		
	}
#right {
		display: block;
		width: 90%;*/
iframe {
	display: block;
	width:880px; 
	height:1000px;
	border:none;
	margin: 20px auto;
}
@media screen and (min-width:800px) {

	
.photoproject {
	display: flex;
}

.left {
	width: 25%;
	margin-right: 1%;
	margin-left: 5%;
}

.right {
	flex: 1;
}
.gallery img{
	display: inline-block;
	width:30%;
}	
		
}
	footer {
		border:none;
	}

